body{
    background-color: azure
}
iframe{
    border-style:dotted;
    border-width:thick;
    border-color: darkblue;
    margin-left: 7em;
}
#nav{
    font-size: 40px;
    width:80%;
    margin-left: 4em; 
    
    }

a:hover{
    color: crimson;
}
