    * {
    box-sizing: border-box;
}

nav {
    width: 100%;
    float: left;
}

nav a {
    width: 25%;
    float: left;
    text-decoration: none;
    color: black;
    background-color:rgb(252, 245, 121);
    text-align: center;
    font-size: 25px;
    padding: 15px;
    transition: 0.25s;
    font-family: sans-serif;
    letter-spacing: 2px;
}

nav a:hover {
    background-color: white;
}


#symptoms{
    font-size: 20px;
    width: 40%;
    float:left;
}
#symp{
    float: left;
    width: 40%;
}



#treatment{
    font-size: 20px;
     width: 40%;
    float: left; 
}
#treat{
    float: left;
    width: 40%;
}





#prevention{
    font-size: 20px;
    width: 40%;
    float: left;
}
#prevent{
    float: left;
        width: 40%;
}

div {
    width: 100%;
    float: left;
    padding: 16px;
}
