body {
    padding: 0px 10%;
}
}
    ul {
    width: 50%;
    list-style-type: none;
    margin: 2 em;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline;
    float: right;
}

li {
    float: left;
    background-color:white;
    width: 25%;
    
}

li a {
    display: block;
    color:rgb(221, 19, 154);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

h1 {
    width: 100%;
    display: block;
}
div
{
    border: 1px solid black;
    padding: 25px 50px 75px;
    background-color: white;
}
